@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply w-96 mx-auto p-4
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mb-2
    }

    input[type="text"] {
        width: 100%;
        padding: 4px 8px;
    }

    button {
        display: inline-block;
        padding: 8px 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 8px;
        font-size: 14px;
    }

    button:hover {
        background-color: #3e8e41
    }

    button:active {
        background-color: #3e8e41;
        box-shadow: 0 1px #666;
        transform: translateY(1px);
    }

    input[type="text"] {
        @apply w-full border px-2 py-1 rounded
    }

    textarea {
        @apply w-full border px-2 py-1 rounded
    }
}

@layer components {
    #enpoints {
        margin-top: 8px;
        border: 1px solid #ccc;
        padding: 4px 8px;
        white-space: pre-wrap;
        max-height: 200px;
        overflow-y: auto;
    }

}
